
<div class="container">
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div >
    <div class="fourth">
        <p style="color: darkgrey;">WE CHANGE <br> THE WORLD ONE EYEBROW <br> AT A TIME</p>
        <span>Book an appointment -></span>
    </div>
</div>