
<div class="container">
    <div class="first"></div>
    <div class="second">
        <img src="assets/images/face.jpg" alt="photo">
    </div>
    <div class="third"></div >
    <div class="fourth">
        <p>WE CHANGE THE WORLD ONE EYEBROW AT A TIME.</p>
    </div>
</div>