
<div class="container">
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div >
    <div class="fourth">
        <p style="color: #6b6b6b">WE CHANGE THE WORLD </p>
        <p style="color: black">ONE EYEBROW AT A TIME</p>
        <span>Book an appointment -></span>
    </div>
</div>