<nav class="header">
    <ul class="nav_left">
        <li><img src="" alt="LOGO"></li>
        <li>log in</li>
    </ul>
    <ul class="nav_right"
        <li>home</li>
        <li>about</li>    
        <li>treatments</li>
        <li>contact</li>
    </ul>
</nav>