<nav class="header">
    <ul class="nav_left">
        <li><img style="width:40px; height: 40px;" src="https://image.flaticon.com/icons/png/512/25/25694.png" alt="LOGO"></li>
        <li>Log In</li>
    </ul>
    <ul class="nav_right">
        <li>home</li>
        <li>about</li>    
        <li>treatments</li>
        <li>contact</li>
    </ul>
</nav>