
<div class="third_container">
    <div class="first"></div>
    <div class="second">
        <h2>BRW's #1 service</h2>
        <span>More Treatments -></span>
        </div>
    <div class="third"></div >
        <h2></h2>
        <p></p>
    </div>
    <div class="fourth"><img style="width: 100px; height: 100px" src="https://image.flaticon.com/icons/svg/66/66606.svg" alt=""></div>
</div>