
<div class="third_container">
    <div class="first"></div>
    <div class="second">
        <h2>BRW's #1 SERVICE</h2>
        <span>More Treatments -></span>
        </div>
    <div class="third">
        <div class="left_side"><img style="width: 300px; height: 200px" src="https://static.wixstatic.com/media/84770f_a2dc108b405f48a28523a88bf5d43227~mv2_d_8000_8000_s_4_2.png/v1/fill/w_735,h_455,al_c,usm_0.66_1.00_0.01/84770f_a2dc108b405f48a28523a88bf5d43227~mv2_d_8000_8000_s_4_2.png" alt=""></div>

        <div class="right_side"> 
            <h2>BRW custom shaping</h2>
            <p>45 min</p>
            <p>$ 30</p>
            <span>Book Now</span>
        </div>
    </div>
    <div class="fourth"><img style="width: 100px; height: 100px" src="https://image.flaticon.com/icons/svg/66/66606.svg" alt=""></div>
   
</div>