
body {
    margin: 0;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
   }
  
  *, *::before, *::after {
    box-sizing: border-box; }
  
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: none;
  font-size: 15px;
  @media (max-width: 600px) {
    background-image: url(https://image.flaticon.com/icons/svg/1828/1828859.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    &:hover {
      cursor:pointer;
      background-color: lightgrey;
    }
  }

  .nav_left{
    list-style: none;
    position: absolute;
    left: 5%;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    @media (max-width: 600px) {
      opacity:0;
    }
    
    :hover{
      opacity: 0.5;
      cursor: pointer;
      font-size: 20px;
    }
    
  }
  .nav_right{
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    right: 5%;
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    @media (max-width: 600px) {
      opacity:0;
    }
   
    :hover{
      opacity: 0.5;
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.container {
  position: relative;
  top: 100px;
  width: 100%;
  height: 600px;
  background-color: white;
  @media (max-width:600px) {
    background-color: #cbdbc5;
  }

  .first {
    position: absolute;
    top: 70%;
    left: 0%;
    bottom: 20%;
    width: 40%;
    height: 20%;
    z-index: 12;
    background-color: none;
    background-image: url(https://i.imgur.com/KPzCX45.png);
    background-repeat: no-repeat;
    opacity: 0.3;
    @media (max-width: 600px) {
      opacity:0;
    }
    
  }

  .second {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 600px;
    height: 400px;
    background-color: #f6f6f6;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    background-image: url(https://i.pinimg.com/564x/38/49/a6/3849a6ea65c180ac451d2050f596f5ee.jpg);
    background-repeat: no-repeat;
    z-index: 10;
    @media (max-width: 600px) {
      opacity:0;
    }

    :hover {
      z-index: 15;
    }
    

  }
    .third {
      position: absolute;
      right: 1%;
      top: 5%;
      bottom: 5%;
      width: 600px;
      height: auto;
      background-color: #cbdbc5;
      border: 10px solid white;
      @media (max-width: 600px) {
        opacity:0;
      }
    }

    .fourth {
      position: absolute;
      top: 25%;
      left: 50%;
      width: 300px;
      height: 300px;
      background-color: lightgrey;
      z-index: 12;
      border: 10px solid white;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      @media (max-width: 600px) {
        left: 20%;
        top: 10%;
        
      }
      
      p {
        margin-left: 5%;
        font-size: 35px;

        &:hover {
          cursor: pointer;
          font-size: 37px;
          opacity: 0.5;
        }
      }
      span {
        margin-left: 5%;
        margin-bottom: 5%;
        font-size: 15px;
        color: black;

        &:hover {
          cursor:pointer;
          font-size: 20px;
          color: darkgreen;
        }
      }
    }
}

.second_container {
  position: relative;
  top: 70px;
  width: 100%;
  height: 600px;
  background-color: white;

  .first {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 400px;
    height: 300px;
    z-index: 12;
    background-color: none;
    background-image: url(https://i.imgur.com/KPzCX45.png);
    background-repeat: no-repeat;
    opacity: 0.3;
    @media (max-width: 600px) {
      opacity:0;
    }

  }

  .second {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 500px;
    height: 300px;
    background-color: #f6f6f6;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    background-image: url(https://i.pinimg.com/564x/dd/8d/cb/dd8dcb4cb4361596b01d326d58be8d86.jpg);
    background-repeat: no-repeat;
    z-index: 15;
    @media (max-width: 1300px) {
      opacity: 0.5
    }
    @media (max-width: 600px) {
      opacity:0;
    }
  }

  .third {
    position: absolute;
    left: 0;
    width: 55%;
    height: 600px;
    background-color: lightgrey;
    @media (max-width: 600px) {
      opacity:0;
    }
  }

  .fourth {
    position: absolute;
    left: 63%;
    top: 20%;
    height: 450px;
    width: 300px;
    background-color: none;
    @media (max-width: 1300px) {
      z-index:999;
    }
    @media (max-width: 600px) {
      left:20%;
    }
    

    h2{
      margin-left: 5%;
    }
    p{
      margin-left: 5%;
      font-size: 15px;
    }
  }

.fifth {
  position: absolute;
  right: 20%;
  top: 5%;
  opacity: 0.3;
}
}

.chat {
  position: fixed;
  bottom: 0;
  right:0;
  width: 20%;
  height: 50px;
  background-color: rgba(2, 48, 27, 0.5);
  font-size: 15px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.side_menu {
  position: fixed;
  left: 95%;
  top: 50%;
  width: 100px;
  height: 100px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
 