<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brow bar website</title>
    <link rel="stylesheet" href="assets/styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
 {{> partials/nav }}
 {{> partials/first_part }}
 {{> partials/second_part }}
 {{> partials/third_part }}

 <div class="chat">
     <h2>Let's chat! </h2>
     <span>We'll reply as soon as we can</span>

     </div>
 <div class="side_menu">
     <img style="width:15px; height: 15px" src="https://image.flaticon.com/icons/png/128/1077/1077041.png" alt="Facebook">
     <img style="width:15px; height: 15px" src="https://image.flaticon.com/icons/svg/1077/1077042.svg" alt="Instagram">
     <img style="width:15px; height: 15px" src="https://image.flaticon.com/icons/svg/1051/1051382.svg" alt="Twitter">
 </div>

</body>

</html>